<div class="row app-menu">
    <div class="col-xs-3 item item-1 left"><a href="{{ path('operations') }}">Opérations</a></div>
    <div class="col-xs-3 item item-2"><a href="{{ path('sources_list') }}">Sources</a></div>
    <div class="col-xs-3 item item-3 right"><a href="{{ path('targets_list') }}">Cibles</a></div>
</div>